<div class="container">
    <div class="row">
        <div class="col-md-9">
            <p-tabView>
                <!-- /////////////////
                      Tab 1 - Manage Users
                     ///////////////// -->
                <p-tabPanel>
                    <div class="grid-block">
                        <h2 class="mb-4">Manage Users</h2>
                        <!-- ////////////
                            Table 
                        ////////////// -->
                        <p-table #dt [value]="userList" [rows]="10" [paginator]="true" [globalFilterFields]="['name','email','type']" dataKey="_id"
                            editMode="row" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <button pButton type="button" icon="pi pi-plus" class="ui-button-success" label="Add User" (click)="addNewUser()"></button>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="ui-inputgroup pull-right">
                                            <span class="ui-inputgroup-addon">
                                                <i class="pi pi-search" style="line-height: 1.25;"></i>
                                            </span>
                                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">Name
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="email">Email
                                        <p-sortIcon field="email"></p-sortIcon>
                                    </th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="user">
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="userRoles" [(ngModel)]="user.type" [style]="{'width':'100%'}"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{user.type}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <!-- Edit Button -->
                                        <button *ngIf="!editing" pButton pRipple pInitEditableRow icon="pi pi-pencil" class="ui-button-warning  mr-2" (click)="onRowEdit(user)"
                                            title="Edit"></button>
                                        <button *ngIf="editing" pButton pRipple pSaveEditableRow icon="pi pi-check" class="ui-button-success  mr-2" (click)="updateUser(user)"
                                            title="Save"></button>
                                        <button *ngIf="editing" pButton pRipple pCancelEditableRow icon="pi pi-times" class="ui-button-info mr-2" (click)="onRowEditCancel(user,ri)"
                                            title="Cancel"></button>
                                        <!-- Delete Button -->
                                        <button pButton pRipple icon="pi pi-trash" class="ui-button-danger" (click)="deleteUser(user)" title="Delete"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <!-- ////////////
                            Modal 
                        ////////////// -->
                        <p-dialog header="Add User Details" [(visible)]="userDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade"
                            [modal]="true" [style]="{width: '450px'}">
                            <div class="p-grid ui-fluid row" *ngIf="user">
                                <div class=" col-12 alert alert-danger mb-3" role="alert" *ngIf="errorMsg">
                                    {{errorMsg}}
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userName">Name*</label>
                                    <input pInputText type="text" name="userName" [(ngModel)]="user.name" autofocus/>
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.name">Name is required</small>
                                        <small class="p-invalid" *ngIf="user.name && user.name?.length < 5">Name should have atleast 5 characters.</small>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userEmail">Email*</label>
                                    <input pInputText type="userEmail" name="userEmail" [(ngModel)]="user.email"  email #prmEmail="ngModel" />
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.email">Email is required</small>
                                        <small class="p-invalid" *ngIf="prmEmail.errors?.email">Please provide a valid email address</small>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userPassword">Password*</label>
                                    <input pPassword type="password" name="userPassword" [(ngModel)]="user.password"/>
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.password">Password is required</small>
                                        <small class="p-invalid" *ngIf="user.password && user.password?.length < 6">Name should have atleast 6 characters.</small>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="userConfirmPassword">Confirm Password*</label>
                                    <input pPassword type="password" name="userConfirmPassword" [(ngModel)]="confirmPassword" />
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!confirmPassword">Retype password.</small>
                                        <small class="p-invalid" *ngIf="confirmPassword && confirmPassword !== user.password">Password does not match.</small>
                                    </div>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="mb-1">Role</label>
                                    <div class="p-grid row">
                                        <div class="col-4">
                                            <p-radioButton name="userType" value="admin" label="Admin" [(ngModel)]="user.type"></p-radioButton>
                                        </div>
                                        <div class="col-4">
                                            <p-radioButton name="userType" value="author" label="Author" [(ngModel)]="user.type"></p-radioButton>
                                        </div>
                                        <div class="col-4">
                                            <p-radioButton name="userType" value="user" label="User" [(ngModel)]="user.type"></p-radioButton>
                                        </div>
                                    </div>
                                    <div *ngIf="submitted">
                                        <small class="p-invalid" *ngIf="!user.type">Role is required</small>
                                    </div>
                                </div>
                            </div>
                            <p-footer>
                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                    <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" class="ui-button-warning  mr-2" label="Cancel"></button>
                                    <button type="button" pButton icon="pi pi-check" (click)="addUser()" class="ui-button-success" label="Save"></button>
                                </div>
                            </p-footer>
                        </p-dialog>

                        <!-- ////////////
                            Confirmation 
                        ////////////// -->
                        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

                        <!-- ////////////
                            Alerts 
                        ////////////// -->
                        <p-toast position="bottom-right"></p-toast>
                    </div>
                </p-tabPanel>
                <!-- /////////////////
                      Tab 2 - Send Email Remainder
                     ///////////////// -->
                <!-- <p-tabPanel header="Send Email Remainder">
                    Content 2
                </p-tabPanel> -->
                <!-- /////////////////
                      Tab 2 - Generate Newsletter
                     ///////////////// -->
                <!-- <p-tabPanel header="Generate Newsletter">
                    Content 3
                </p-tabPanel> -->
            </p-tabView>
        </div>
        <div class="col-md-3">
            <div class="pdf-sidebar generate-pdf">
                <p>Last email is sent on Jan 27, 2021</p>
                <div style="display: none;" id="pdf-container"></div>
                <button (click)="generatePDF()" class="btn btn-success">Generate Newsletter</button>
            </div>
            <div id="pdfData" #pdfData style="display: none;">
                <div class="metaData"><!-- Metadata will come here --></div>
                <div class="pdf-body" style="width: 800px;">
                    <div style="background: #000; width: 600px; margin-bottom: 10px;">
                        <h2 style="color: #fff; background: #000; font-size: 20px; line-height: 22px; width: 600px; padding-bottom: 10px; padding-left: 10px; margin: 0;">DX Newsletter</h2>
                    </div>
                    <p style="font-size: 9px; color: #222; width: 600px;">Attached please find the weekly Digital Experience newsletter covering new business, key project status updates, staffing changes and announcements</p>
                    <h4 style="font-size: 13px; margin-top: 15px; padding-top: 15px; width: 600px;">Upcoming Events</h4>
                    <table>
                        <tr *ngFor="let event of upcomingEvents">
                            <td style="font-size: 11px; color: #333; padding-right: 20px; padding-bottom: 15px; min-width: 150px; width: 600px;">
                                <h5 style="font-size: 10px; font-weight: bold; padding-bottom: 5px; margin: 0;">{{event.name}}</h5>
                                <p style="font-size: 9px; width: 600px; padding-top: 0; margin: 0;">{{event.description}}</p>
                            </td>
                        </tr>
                    </table>
                    <h4 style="font-size: 13px; margin-top: 15px; padding-top: 15px; border-top: #ccc solid 1px; width: 600px;">New Wins - Signed</h4>
                    <table *ngFor="let project of newWinsSigned">
                        <tr>
                            <td colspan="2" style="font-size: 11px; font-weight: bold;">{{project.clientName}}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 9px; color: #333; padding-right: 20px; width: 450px;"><span style="font-weight: bold;">Value:</span> {{project.dealValue}}</td>
                            <td style="font-size: 9px; color: #333; padding-right: 20px; width: 150px;"><span style="font-weight: bold;">Start Date:</span> {{project.estStartDate.day}}/{{project.estStartDate.month}}/{{project.estStartDate.year}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 9px; color: #333; padding-right: 20px; width: 600px;  padding-bottom: 15px;">{{project.oppDesc}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 9px; color: #333; padding-right: 20px; width: 600px;  padding-bottom: 15px;"><span style="font-weight: bold;">Status Update: {{project.updatedAt | date: "dd/MM/yyyy 'at' h:mma" }}</span> {{project.statusUpdate}}</td>
                        </tr>
                    </table>
                    <h4 style="font-size: 13px; margin-top: 15px; padding-top: 15px; border-top: #ccc solid 1px; width: 600px;">New Wins - Verbal</h4>
                    <table *ngFor="let project of newWinsVerbal">
                        <tr>
                            <td colspan="2" style="font-size: 11px; font-weight: bold;">{{project.clientName}}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 9px; color: #333; padding-right: 20px; width: 450px;"><span style="font-weight: bold;">Value:</span> {{project.dealValue}}</td>
                            <td style="font-size: 9px; color: #333; padding-right: 20px; width: 150px;"><span style="font-weight: bold;">Start Date:</span> {{project.estStartDate.day}}/{{project.estStartDate.month}}/{{project.estStartDate.year}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 9px; color: #333; padding-right: 20px; width: 600px; padding-bottom: 15px;">{{project.oppDesc}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 9px; color: #333; padding-right: 20px; width: 600px;  padding-bottom: 15px;"><span style="font-weight: bold;">Status Update: {{project.updatedAt | date: "dd/MM/yyyy 'at' h:mma" }}</span> {{project.statusUpdate}}</td>
                        </tr>
                    </table>
                    <h4 style="font-size: 13px; margin-top: 15px; padding-top: 15px; border-top: #ccc solid 1px; width: 600px;">Key Business Opportunities</h4>
                    <table *ngFor="let project of keyBusinessOpportunities" style="margin-bottom: 20px">
                        <tr>
                            <td colspan="3" style="font-size: 11px; font-weight: bold; width: 600px;">{{project.clientName}}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 9px; color: #333; padding-right: 20px; width: 225px;"><span style="font-weight: bold;">Value:</span> {{project.dealValue}}</td>
                            <td style="font-size: 9px; color: #333; padding-right: 20px; width: 225px;"><span style="font-weight: bold;">Status:</span> {{project.oppStatus}}</td>
                            <td style="font-size: 9px; color: #333; padding-right: 20px; width: 150px;"><span style="font-weight: bold;">Start Date:</span> {{project.estStartDate.day}}/{{project.estStartDate.month}}/{{project.estStartDate.year}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size: 9px; color: #333; padding-right: 20px; width: 600px;">{{project.oppDesc}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size: 9px; color: #333; padding-right: 20px; width: 600px;  padding-bottom: 15px;"><span style="font-weight: bold;">Status Update: {{project.updatedAt | date: "dd/MM/yyyy 'at' h:mma" }}</span> {{project.statusUpdate}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <app-reminder></app-reminder>
    </div>
</div>
